.summary_list summary::-webkit-details-marker {
    display: none;
}

.summary_list summary::-moz-list-bullet {
    list-style-type: none;
}

.summary_list summary::marker {
    display: none;
}

.summary_list summary, p{
    padding: .3em .6em .3em 1.5em;
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-right: 0;*/
    /*font-size: 1.4em;*/
    cursor: pointer;
    position: relative;
}

    .summary_list summary div {
        display: flex;
        justify-content: flex-end;
    }

.summary_list summary:before {
    left: .3em;
    top: .6em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
    position: absolute;
    transition: transform .5s;
}

.summary_list details[open] > summary:before {
    transform: rotateZ(90deg);
}

.summary_list summary ~ * {
    padding: 0 0 0 1.5em;
}

.summary_list details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.summary_list details {
    display: block;
    margin-bottom: .5rem;
}

.summary_list p {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: var(--mdb-body-font-size);
    font-weight: var(--mdb-body-font-weight);
    line-height: var(--mdb-body-line-height);
    text-align: var(--mdb-body-text-align);
}
